In [1]:
print("Hello word")

Hello word

In [4]:
#this is python in one video code

In [5]:
'''this is multi line comment'''

'this is multi line comment'

In [6]:
str1  = "This is me"

In [7]:
bear = "This is bear"

In [8]:
age = 21
weight = 75.5
print(age,weight)

21 75.5

# Data Types
 - number 
 - String
 - List
 - Tuples
 - Dictionary

# Arthmetic operators

In [10]:
print("The value of 3 + 5 = ", 3+5)
print("The value of 3 - 5 = ", 3-5)
print("The value of 3 * 5 = ", 3*5)
print("The value of 3 / 5 = ", 3/5)
print("The value of 3 ** 5 = ", 3**5)
print("The value of 3 // 5 = ", 3//5)

The value of 3 + 5 =  8
The value of 3 - 5 =  -2
The value of 3 * 5 =  15
The value of 3 / 5 =  0.6
The value of 3 ** 5 =  243
The value of 3 // 5 =  0

In [11]:
#print double coute
print("This is a \"")

This is a "

In [12]:
# multi line string
mls = '''this is a multiline string 
and this will keep  
going'''

In [13]:
print(mls)

this is a multiline string
and this will keep
going

# Print statement

In [14]:
print("%s to the rignt"%('This is a string'))

This is a string to the rignt

In [16]:
print("this is a print statement 1",end='')
print('this is a print statement 2')

this is a print statement 1this is a print statement 2

In [18]:
print("This "*5)

This This This This This

# Lists

In [19]:
colleges = ['IIT','NIT','College of engineering']

In [21]:
colleges[2]

'College of engineering'

In [22]:
colleges[2] = "COE"

In [23]:
colleges[2]

'COE'

In [24]:
colleges

['IIT', 'NIT', 'COE']

In [25]:
print(colleges[1:3])

['NIT', 'COE']

In [26]:
list2 = ["table","chair","Fan","clothes","bottle"]

In [27]:
list2.append("microphone")

In [28]:
list2

['table', 'chair', 'Fan', 'clothes', 'bottle', 'microphone']

In [29]:
list2.insert(3,"blutooth")

In [30]:
list2

['table', 'chair', 'Fan', 'blutooth', 'clothes', 'bottle', 'microphone']

In [31]:
list2.remove('microphone')

In [32]:
list2

['table', 'chair', 'Fan', 'blutooth', 'clothes', 'bottle']

In [33]:
print(list2 + ['pillow','tubelight','bed'])

['table', 'chair', 'Fan', 'blutooth', 'clothes', 'bottle', 'pillow', 'tubelight', 'bed']

In [34]:
print(len(list2))

6

In [35]:
print(max(list2))

table

In [36]:
print(min(list2))

Fan

# TUPLES

In [37]:
tup1 = (1,2,3)

In [38]:
print(tup1[0])

1

In [39]:
tup1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [40]:
list1 = list(tup1)

In [41]:
type(list1)

list

# Dictionary

In [42]:
names = {'Nasrullah':22,
         'hassan':21,
        'omer':20,
        'Umair':23}

In [43]:
print(names['hassan'])

21

In [44]:
names['omer']=24

In [45]:
names

{'Nasrullah': 22, 'hassan': 21, 'omer': 24, 'Umair': 23}

In [47]:
print(names.keys())

dict_keys(['Nasrullah', 'hassan', 'omer', 'Umair'])

In [48]:
print(names.values())

dict_values([22, 21, 24, 23])

# If else Statement

In [56]:
number = int(input())

if number>90 and number<100:
    grade = 'A'
elif number>80 and number<100:
    grade = 'B'
else:
    grade = 'Dont know'
    
print("The grade is ", grade)

102
The grade is  Dont know

# Loops

In [58]:
print("How many times do you want to execute")
no = int(input())
for i in range(0,no):
    print(i)

How many times do you want to execute
13
0
1
2
3
4
5
6
7
8
9
10
11
12

In [59]:
list1 = ['item1','item2','item3']
for item in list1:
    print(item)

item1
item2
item3

In [60]:
list2 = [[1,2,3],[4,5,6],[7,8,9]]
for items in list2:
    for i in items:
        print(i)

1
2
3
4
5
6
7
8
9

# While loops

In [67]:
print("Enter a number")
number = int(input())

while(number>4):
    print("Number is greater than 4")
    number = int(input())
    if number == 9:
        break
    if number == 8:
        continue
    print("loop ended")

Enter a number
6
Number is greater than 4
7
loop ended
Number is greater than 4
8
Number is greater than 4
7
loop ended
Number is greater than 4
9

# Function

In [68]:
def average(num1,num2):
    return(num1+num2)/2

print(average(2,3))

2.5

# String

In [69]:
string1 = "this is me"
print(string1[0:2])

Th

In [71]:
print(string1[-2:])

me

In [72]:
print(string1[:-2])

This is

In [74]:
print(string1.capitalize())

This is me

In [78]:
print(string1.find("is"))

2

In [80]:
print(string1.replace('is','are'))

Thare are me

# File IO

# - Write file

In [7]:
file1 = open("nasrullah.txt","wb")
print(file1.mode)
print(file1.name)
file1.write(bytes("Write this to my file and this is my first input and output file in python","UTF-8"))
file1.close()

wb
nasrullah.txt

In [8]:
file2 = open("file2.txt","wb")
file2.write(bytes("this is my second txt file and write some content to this file","UTF-8"))
file2.close()

# Reading the file

In [9]:
file1 = open("nasrullah.txt","r+")
text_to_read = file1.read()
text_to_read

'Write this to my file and this is my first input and output file in python'

In [10]:
file2 = open("file2.txt","r+")
textread = file2.read()
textread

'this is my second txt file and write some content to this file'

# Object Oriented Programming

In [41]:
class Employee:
    __name = None
    __id = 0
    __salary = 0
    
    def __init__(self,name,id,salary):
        self.__name = name
        self.__id = id
        self.__salary = salary
        
    
    def set_name(self,name):
        self.__name=name    
    def get_name(self):
        return self.__name
    
    def set_id(self,id):
        self.__id = id
    def get_id(self):
        return self.__id
    
    def set_salary(self,salary):
        self.__salary = salary
    def get_salary(self):
        return self.__salary
    
'''nasr = Employee()
nasr.set_name("Nasrullah")
print(nasr.get_name())
nasr.set_id(209)
print(nasr.get_id())
nasr.set_salary(10000)
print(nasr.get_salary())
'''
harry = Employee("nasrullah",220,30000)
print(harry.get_salary())

30000